# location: /etc/systemd/system/discordbot.service
[Unit]
Description=Discordbot background service
Documentation=https://github.com/vb2007/discordbot/
Wants=network-online.target
After=local-fs.target network-online.target nss-lookup.target

[Service]
Environment="PATH=/home/vb2007/.nvm/versions/node/v24.8.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment=NODE_ENV=production

User=vb2007
Group=vb2007
SyslogIdentifier=discordbot
WorkingDirectory=/home/vb2007/prod/discordbot

ExecStartPre=/bin/mkdir -p /home/vb2007/prod/discordbot/temp
ExecStartPre=/bin/chmod -R 777 /home/vb2007/prod/discordbot/temp
# ExecStartPre=/usr/bin/env node --version
ExecStart=npm run app

# StandardOutput=syslog # For logging to syslog
# StandardError=syslog # For logging to syslog

# Restart=always # For automatically restarting the service on failure
# RestartSec=10 # For automatically restarting the service on failure

# Type=simple
# PrivateTmp=true
# TimeoutStopSec=1800

[Install]
WantedBy=multi-user.target
