# Application specific files & folders
.env
config.json
/node_modules
/src/command-logs
/src/data/cigpics.json
/src/data/pics.json
/src/data/commands.md

# IDE / code editor specific folders
/.vscode
/.zed
