{
  "//" : "Logging settings",
  "//Schema" : "True or False.",

  "logToFile" : "False",
  "logToDatabase" : "True",
  "logMessagesToLocalDatabase" : "True",
  
  "//" : "Appearance settings",
  "//Schema" : "HEX Color, like: '0x5F0FD6'.",

  "embedColors" : {
    "primary" : "0x5F0FD6",
    "success" : "0x0DFF00",
    "successSecondary" : "0x87FF9D",
    "failure" : "0xFF0D0D",
    "warning" : "0xE3F51B"
  },

  "//" : "Economy command cooldown times in minutes",
  "//Schema" : "A simple integer. '6' will represent a 6 minute cooldown. The command won't have a cooldown if '0' is specified.",

  "economyCooldown" : {
    "balance" : "0",
    "beg" : "",
    "blackjack" : "",
    "coinflip" : "",
    "deposit" : "0",
    "leaderboard" : "0",
    "pay" : "0",
    "rob" : "",
    "roulette" : "",
    "withdraw" : "0",
    "work" : ""
  }
}