# location: /usr/lib/systemd/system/discordbot.service
[Unit]
Description=Discordbot background service
Documentation=https://github.com/vb2007/discordbot/
Wants=network-online.target
After=local-fs.target network-online.target nss-lookup.target

[Service]
Type=simple
PrivateTmp=true
ExecStart=#idk what to write here right now
TimeoutStopSec=1800

[Install]
WantedBy=multi-user.target