name: Unit tests

permissions:
  contents: read

on:
  pull_request:
    branches: [main, dev]
  workflow_dispatch:
    inputs:
      branch:
        description: "Branch to run tests on"
        required: false
        default: "main"
        type: string

jobs:
  test:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch || github.ref }}

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18"

      # - name: Cache Node.js modules
      #   uses: actions/cache@v2
      #   env:
      #     cache-name: cache-node-modules
      #   with:
      #     path: ~/.npm
      #     key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
      #     restore-keys: |
      #       ${{ runner.os }}-build-${{ env.cache-name }}-
      #       ${{ runner.os }}-build-
      #       ${{ runner.os }}-

      - name: Install Node.js dependencies
        run: npm install

      - name: Run the unit tests with jest
        run: npm test
